GLOBALüåç VARAIBLE AND LOCALüóùÔ∏è VARAIBLE

Outside , Inside & Outside

In [2]:
num_x = 5
print("Num_X Outside Function One", num_x)

def hello():
    global num_x
    global result
    result = 10 + 10
    num_x = 10
    print("Num_X Inside Function One", num_x)
    print("SALAM Pakistan")

hello()
print("Num_X Outside Function One", num_x)
print("Result<<<",result)

Num_X Outside Function One 5
Num_X Inside Function One 10
SALAM Pakistan
Num_X Outside Function One 10
Result<<< 20

DOCSTRING """"""

# Doc String Only Use in 1 Line

In [ ]:
def addition(num1: int, num: int)-> int:
    """Take Their Parameter & Return Their Sum"""
    return num1 + num

result = addition(2,5)
print(addition.__doc__)
print(result)

Take Their Parameter & Return Their Sum
7

SET üìê

# Repeat One Value

  Name List

  Name Set

In [ ]:
name_list = ["MA", "FA", "AA", "NA", "SA"]
name_set = {"MA", "FA", "AA", "NA", "SA"}

print(type(name_list))
print("name list: ", name_list)
print()
print(type(name_set))
print("name set: ",name_set)

<class 'list'>
name list:  ['MA', 'FA', 'AA', 'NA', 'SA']

<class 'set'>
name set:  {'AA', 'NA', 'FA', 'SA', 'MA'}

SETüìê METHODS

1. Add
2. Remove
#  If The Value is Not in Set So Remove Show Error
#  But Discard & Remove & Pop Have Same Work
3. Discard
#  If The Value is Not in Set So Discard Don't Show Error
4. Pop
5. Union
6. Intersection

In [ ]:
name_set = {"A", "B", "C", "D", "E"}

# 1. Add
name_set.add("F")
print(f"Add Set: {name_set}")

# 2.Remove
name_set.remove("C")
print(f"Remove Set: {name_set}")



# 3. Discard
name_set.discard("F")
print(f"Discard Set: {name_set}")

# 4. Popping
name_set.pop()
print(f"Popping Set: {name_set}")

Add Set: {'B', 'E', 'A', 'D', 'F', 'C'}
Remove Set: {'B', 'E', 'A', 'D', 'F'}
Discard Set: {'B', 'E', 'A', 'D'}
Popping Set: {'E', 'A', 'D'}

SETüìê METHODS

5. Union

#  Marge Two Set in One

In [ ]:
num_set_1 = {1,2,3}
num_set_2 = {3,4,5}

result = num_set_1.union(num_set_2)
print("Result of Union Set: ",result)

Result of Union Set:  {1, 2, 3, 4, 5}

SETüìê METHODS

6. Intersection

#  Show The Special Num or The Number That Repeated

In [ ]:
num_set_1 = {1,2,3}
num_set_2 = {3,4,5}

result = num_set_1.intersection(num_set_2)
print("Result of Intersection Set: ",result)

Result of Intersection Set:  {3}